/*Telerik RadCalendar Default skin*/

table.RadCalendar_SearchControl {
	border-collapse:collapse;
	border:3px solid #E5E5E5;
	background:#fff;
	font:12px "segoe ui",arial,sans-serif;
	width:220px;
}

/*/*titlebar*/
.RadCalendar_SearchControl .rcTitlebar {
	width:100%;
	border:1px solid;
	border-color:#868686 #868686 #c4c4c4;
	padding:0;
	background:#eaeaea 0 -1000px repeat-x url('images/calendar.default.sprite.gif');
	color:#fff;
	height:34px;
}

.RadCalendar_SearchControl .rcTitlebar table {
	width:100%;
	border-collapse:separate;
	border:0;
	font:12px/23px "segoe ui",arial,sans-serif;
}

.RadCalendar_SearchControl .rcTitlebar td {
	border:0;
	padding:0 0 1px;
	text-align:center;
	vertical-align:middle;
}

.RadCalendar_SearchControl .rcTitlebar .rcTitle {
	width:100%;
	cursor:pointer;
	font-weight:bold;
}

.RadCalendar_SearchControl .rcTitlebar .rcPrev,
.RadCalendar_SearchControl .rcTitlebar .rcNext,
.RadCalendar_SearchControl .rcTitlebar .rcFastPrev,
.RadCalendar_SearchControl .rcTitlebar .rcFastNext {
	display:block;
	width:15px;
	height:15px;
	overflow:hidden;
	margin:0 4px;
	background:transparent url('images/calendar.default.sprite.gif') no-repeat;
	text-indent:-2222px;
	text-decoration:none;
	color:#ccc;
}

.RadCalendar_SearchControl .rcTitlebar .rcFastPrev,
.RadCalendar_SearchControl .rcTitlebar .rcFastPrev:hover {
	display:none;
}

.RadCalendar_SearchControl .rcTitlebar .rcPrev {
	background-position:3px -297px;
}

.RadCalendar_SearchControl .rcTitlebar .rcPrev:hover {
	background-position:3px -297px;
}

.RadCalendar_SearchControl .rcTitlebar .rcNext {
	background-position:3px -397px;
	margin-right: 5px;
}

.RadCalendar_SearchControl .rcTitlebar .rcNext:hover {
	background-position:3px -397px;
	margin-right: 5px;
}

.RadCalendar_SearchControl .rcTitlebar .rcFastNext,
.RadCalendar_SearchControl .rcTitlebar .rcFastNext:hover {
	display:none;
}

.RadCalendar_SearchControl .rcMain {
	width:100%;
	border:1px solid #E5E5E5;
	border-top:0;
	padding:0;
}

.RadCalendar_SearchControl .rcMainTable {
	border-collapse:collapse;
	border:0;
	width:100%;
	font:12px/17px "segoe ui",arial,sans-serif;
}

/*header, footer*/
.RadCalendar_SearchControl .rcHeader,
.RadCalendar_SearchControl .rcFooter
{
	border:1px solid #868686;
	border-top:0;
	padding:0;
}

/*week numbers and days*/
.RadCalendar_SearchControl .rcRow th,
.RadCalendar_SearchControl .rcWeek th
{
	border:0;
	font-weight:normal;
	vertical-align:middle;
	cursor:default;
	border:1px solid #E5E5E5;
}

.RadCalendar_SearchControl .rcWeek th
{
	border-bottom:1px solid #c5c5c5;
	padding:4px 6px 3px 0;
	text-align:right;
	color:#375C6E;
	font-weight: bold;
}

.RadCalendar_SearchControl .rcWeek .rcViewSel,
.RadCalendar_SearchControl .rcRow th
{
	width:13px;
	padding:0 7px 0 9px;
	background:#eee;
	text-align:center;
}

.RadCalendar_SearchControl .rcRow th {
	color:#777;
}

/*date cells*/
.RadCalendar_SearchControl .rcRow td {
	padding:0;
	text-align:right;
	vertical-align:middle;
	border:1px solid #E5E5E5;
}

.RadCalendar_SearchControl .rcMain .rcRow a,
.RadCalendar_SearchControl .rcMain .rcRow span
{
	display:block;
	padding:1px 5px 1px 0;
	text-decoration:none;
	color:#375C6E;
	font-weight: bold;
}

.RadCalendar_SearchControl .rcMain .rcWeekend a
{
	color:#666;
}

.RadCalendar_SearchControl .rcRow .rcToday
{
	border-color:#898989;
}

.RadCalendar_SearchControl .rcMain .rcOtherMonth {
	background-color:#F2F2F2;
}

.RadCalendar_SearchControl .rcMain .rcOtherMonth a {
	color:#BFBFBF;
	font-weight: bold;
}

.RadCalendar_SearchControl .rcMain .rcOutOfRange span
{
	color:#898989;
	cursor:default;
}

.RadCalendar_SearchControl .rcRow .rcHover {
	background-color:#56AEDC;
}

.RadCalendar_SearchControl .rcRow .rcHover a {
	color:#fff;
	font-weight: bold;
}

.RadCalendar_SearchControl .rcRow .rcSelected {
	background-color:#FE9311;
}

.RadCalendar_SearchControl .rcMain .rcRow .rcSelected a {
	color:#fff;
	font-weight: bold;
}

/*multimonth view*/
table.RadCalendarMultiView_SearchControl
{
	width:auto;
}

.RadCalendarMultiView_SearchControl .rcTitlebar
{
	border-color:#9a9a9a #9c9c9c #9c9c9c;
	background:#c5c5c5 0 -1199px repeat-x url('images/calendar.default.sprite.gif');
}

.RadCalendarMultiView_SearchControl .rcTitlebar table
{
	border:1px solid;
	border-color:#fdfdfd #f3f3f3 #e7e7e7;
	line-height:27px;
}

.RadCalendarMultiView_SearchControl .rcTitlebar .rcFastPrev:hover
{
	background-position:1px -647px;
}

.RadCalendarMultiView_SearchControl .rcTitlebar .rcPrev:hover
{
	background-position:4px -747px;
}

.RadCalendarMultiView_SearchControl .rcTitlebar .rcNext:hover
{
	background-position:3px -847px;
}

.RadCalendarMultiView_SearchControl .rcTitlebar .rcFastNext:hover
{
	background-position:1px -947px;
}

.RadCalendarMultiView_SearchControl .rcMain
{
	border-color:#9b9b9b;
}

.RadCalendarMultiView_SearchControl .rcCalendar
{
	width:220px;
	border:1px solid #868686;
	padding:0;
}

.RadCalendarMultiView_SearchControl .rcMainTable .rcTitle
{
	border:0;
	border-bottom:1px solid #c4c4c4;
	padding:0 0 2px;
	background:#eaeaea 0 -1000px repeat-x url('images/calendar.default.sprite.gif');
	text-align:center;
	line-height:22px;
}

/*month view*/
table.RadCalendarMonthView_SearchControl
{
	border-collapse:separate;
	border:1px solid #979797;
	background:#fff;
	font:12px "segoe ui",arial,sans-serif;
	color:#333;
}

table.RadCalendarMonthView_SearchControl td
{
	border:0;
	padding:5px 2px 0;
}

.RadCalendarMonthView_SearchControl #rcMView_Feb,
.RadCalendarMonthView_SearchControl #rcMView_Apr,
.RadCalendarMonthView_SearchControl #rcMView_Jun,
.RadCalendarMonthView_SearchControl #rcMView_Aug,
.RadCalendarMonthView_SearchControl #rcMView_Oct,
.RadCalendarMonthView_SearchControl #rcMView_Dec
{
	border-right:1px solid #e0e0e0;
}

.RadCalendarMonthView_SearchControl a
{
	display:block;
	padding:2px 4px;
	text-align:center;
	text-decoration:none;
	color:#333;
}

.RadCalendarMonthView_SearchControl .rcSelected a
{
	border:1px solid;
	border-color:#8d8d8d #7d7d7d #6c6c6c;
	padding:1px 3px;
	background:#828282 0 -1700px repeat-x url('images/calendar.default.sprite.gif');
	color:#fff;
}

.RadCalendarMonthView_SearchControl #rcMView_PrevY a,
.RadCalendarMonthView_SearchControl #rcMView_NextY a
{
	display:block;
	width:17px;
	height:14px;
	overflow:hidden;
	margin:0 auto;
	background:transparent no-repeat url('images/calendar.default.sprite.gif');
	text-indent:-2222px;
	text-align:center;
	text-decoration:none;
	color:#ccc;
}

.RadCalendarMonthView_SearchControl #rcMView_PrevY a
{
	background-position:7px -196px;
}

.RadCalendarMonthView_SearchControl #rcMView_NextY a
{
	background-position:7px -496px;
}

.RadCalendarMonthView_SearchControl .rcButtons
{
	padding:6px 7px 5px;
	text-align:center;
}

.RadCalendarMonthView_SearchControl input
{
	border:1px solid;
	border-color:#a7a7a7 #7b7b7b #7b7b7b #a7a7a7;
	padding:0;
	background:#e9e9e9 0 -2300px repeat-x url('images/calendar.default.sprite.gif');
	color:#000;
	font:12px "segoe ui",arial,sans-serif;
	cursor:pointer;
}

.RadCalendarMonthView_SearchControl #rcMView_Today
{
	margin:0 0.4em 0 0;
}

.RadCalendarMonthView_SearchControl #rcMView_OK
{
	padding:0 0.2em;
}

/*time view*/
table.RadCalendarTimeView_SearchControl
{
	border-collapse:collapse;
	border:3px solid #E5E5E5;
	background:#fff;
	font:12px "segoe ui",arial,sans-serif;
}

.RadCalendarTimeView_SearchControl th
{
	border:0;
	border-bottom:1px solid #c4c4c4;
	padding:0 0 1px;
	background:#eaeaea 0 -1000px repeat-x url('images/calendar.default.sprite.gif');
	color:#fff;
	text-align:center;
	cursor:default;
	line-height:23px;
	font-weight:bold;
}

.RadCalendarTimeView_SearchControl a
{
	display:block;
	padding:2px 6px;
	text-align:center;
	color:#333;
	text-decoration:none;
}

table.RadCalendarTimeView_SearchControl td {
	border:0;
	padding:2px 2px 3px;
}

table.RadCalendarTimeView_SearchControl td a {
	text-align: right;
}

.RadCalendarTimeView_SearchControl td.rcHover {
	background-color:#56AEDC;
}

.RadCalendarTimeView_SearchControl td.rcHover a {
	color:#fff;
}

.RadCalendarTimeView_SearchControl td.rcSelected {
	background-color:#FE9311;
}
.RadCalendarTimeView_SearchControl td.rcSelected a {
	color:#fff;
}

.RadCalendarTimeView_SearchControl .rcFooter
{
	border:0;
	padding:3px 0 3px 0;
}

.RadCalendarTimeView_SearchControl .rcFooter a {
	text-align: center;
}

/*pickers*/
.RadPicker_SearchControl,
.RadPicker_SearchControl td
{
	vertical-align:middle;
	background-color: White;
}

.RadPicker_SearchControl .RadInput
{
	vertical-align:baseline;
}

.RadPicker_SearchControl .RadInput input
{
	font-size: 9pt;
	color:#416073;
	border:0;
	font-family:Arial;
    width:100%;

}

.RadPicker_SearchControl table.rcTable,
.RadPicker_SearchControl table.rcTable td
{
	border:0;
	margin:0;
	padding:0;
}

.RadPicker_SearchControl table.rcTable .rcInputCell
{
	padding: 1px 4px 1px 4px;
}

.RadPicker_SearchControl td a
{
	position:relative;/*FF*/
	outline:none;/*FF*/
	z-index:2;/*Opera*/
	margin:0 2px;
	text-decoration:none;
}
* html .RadPicker_SearchControl td a{position:static}/*IE6*/
*+html .RadPicker_SearchControl td a{position:static}/*IE7*/

.RadPicker_SearchControl .rcCalPopup,
.RadPicker_SearchControl .rcTimePopup
{
	display:block;
	overflow:hidden;
	width:22px;
	height:22px;
	background:url('images/calendar.default.sprite.gif') no-repeat;
	text-indent:-2222px;
	text-align:center;
}

.RadPicker_SearchControl .rcCalPopup,
.RadPicker_SearchControl .rcDisabled.rcCalPopup:hover
{
	background-position:0 0;
}

.RadPicker_SearchControl .rcCalPopup:hover,
.RadPicker_SearchControl .rcCalPopup:focus,
.RadPicker_SearchControl .rcCalPopup:active
{
	background-position:0 -50px;
}

.RadPicker_SearchControl .rcTimePopup,
.RadPicker_SearchControl .rcDisabled.rcTimePopup:hover
{
	background-position:0 -100px;
}

.RadPicker_SearchControl .rcTimePopup:hover,
.RadPicker_SearchControl .rcTimePopup:focus,
.RadPicker_SearchControl .rcTimePopup:active
{
	background-position:0 -150px;
}

.RadPicker_SearchControl .rcDisabled,
.RadCalendarMonthView_SearchControl .rcDisabled
{
	opacity:0.5;
	filter:alpha(opacity=50);
}

/*rtl*/

.RadCalendarRTL_SearchControl .rcTitlebar .rcFastPrev
{
	background-position:1px -497px;
}

.RadCalendarRTL_SearchControl .rcTitlebar .rcFastPrev:hover
{
	background-position:1px -547px;
}

.RadCalendarRTL_SearchControl .rcTitlebar .rcPrev
{
	background-position:3px -397px;
}

.RadCalendarRTL_SearchControl .rcTitlebar .rcPrev:hover
{
	background-position:3px -447px;
}

.RadCalendarRTL_SearchControl .rcTitlebar .rcNext
{
	background-position:4px -297px;
}

.RadCalendarRTL_SearchControl .rcTitlebar .rcNext:hover
{
	background-position:4px -347px;
}

.RadCalendarRTL_SearchControl .rcTitlebar .rcFastNext
{
	background-position:1px -197px;
}

.RadCalendarRTL_SearchControl .rcTitlebar .rcFastNext:hover
{
	background-position:1px -247px;
}

.RadCalendarMultiViewRTL_SearchControl .rcTitlebar .rcFastPrev:hover
{
	background-position:1px -947px;
}

.RadCalendarMultiViewRTL_SearchControl .rcTitlebar .rcPrev:hover
{
	background-position:3px -847px;
}

.RadCalendarMultiViewRTL_SearchControl .rcTitlebar .rcNext:hover
{
	background-position:4px -747px;
}

.RadCalendarMultiViewRTL_SearchControl .rcTitlebar .rcFastNext:hover
{
	background-position:1px -647px;
}
 
.RadCalendarPopup
 {     
    top: 200px; 
    display: none;   
    left: 110px;     
}

