.RadWindow_Transparent .rwTopLeft,
.RadWindow_Transparent .rwTopRight,
.RadWindow_Transparent .rwTitlebar,
.RadWindow_Transparent .rwFooterLeft,
.RadWindow_Transparent .rwFooterRight,
.RadWindow_Transparent .rwFooterCenter,
.RadWindow_Transparent .rwTopResize,
.RadWindow_Transparent .rwStatusbar div,
.RadWindow_Transparent .rwStatusbar,
.RadWindow_Transparent .rwPopupButton,
.RadWindow_Transparent .rwPopupButton span,
.RadWindow_Transparent.rwMinimizedWindow .rwCorner
{
    background-image: url('images/window/transparent/windowhorizontalsprites.gif');
}

.RadWindow_Transparent .rwBodyLeft,
.RadWindow_Transparent .rwBodyRight,
.RadWindow_Transparent .rwStatusbarRow .rwCorner
{
	background-image: url('images/window/transparent/windowverticalsprites.gif');
}

.RadWindow_Transparent .rwStatusbar input
{
    background-color: #f7f3e9;
}

.RadWindow_Transparent .rwControlButtons a
{
    background-image: url('images/window/transparent/commandbuttonsprites.gif');
}

.RadWindow_Transparent a.rwIcon
{
	background-image: url('images/window/transparent/windowhorizontalsprites.gif');
}

div.RadWindow_Transparent .rwTitlebarControls em
{
	color: black;
}

div.RadWindow_Transparent .rwDialogInput
{
	border-top: solid 1px #abadb3;
	border-right: solid 1px #dbdfe6;
	border-bottom: solid 1px #e3e9ef;
	border-left: solid 1px #e2e3ea;
}

div.RadWindow_Transparent .rwDialogInput:hover
{
	border-top: solid 1px #5794bf;
	border-right: solid 1px #b7d5ea;
	border-bottom: solid 1px #c7e2f1;
	border-left: solid 1px #c5daed;
	color: #565656;
}

div.RadWindow_Transparent td.rwLoading
{
    background-color: #fff;
}

.RadWindow_Transparent td.rwWindowContent
{
    background-color: #fff;
}

/* Loading Indicators */

/* When ShowContentDuringLoad="true" */
.RadWindow_Transparent td.rwWindowContent.rwLoading
{
}

/* When ShowContentDuringLoad="false" */
.RadWindow_Transparent input.rwLoading
{
}

div.RadWindow_Transparent a.rwCancel,
div.RadWindow_Transparent a.rwCancel span
{
    background: none;
    cursor: pointer;
    cursor: hand;
}

div.RadWindow_Transparent a.rwCancel span span
{
    color: #000000;
    text-decoration: underline;
}

.RadWindow_Transparent tr.rwTitleRow, 
.RadWindow_Transparent tr.rwFooterRow,
.RadWindow_Transparent td.rwCorner {
	display: none;
	height: 0;
	width: 0;
}