<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Spently Email Builder</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Abril+Fatface|Archivo+Black|Oswald|Lato:700" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
	<header>
		<ul>
			<li class="navNum">1</li>
			<li class="navNum">2</li>
			<li class="navNum">3</li>
			<li class="navNum">4</li>
			<li class="navNum">5</li>
			<li class="navNum">6</li>
		</ul>
	</header>
	<section class="container">
		<main>
			<section id="intro">
				<h1>Spently Email Builder</h1>
				<p><a href="http://www.spently.com">Spently</a>'s Email Builder helps Shopify store owners build their own emails. In each GIF below the left side is the email the user edits, whilst the right sidebar customizes the emails content. The user will use these emails as their online order confirmation, shipment sent, etc...</p><br/>
				<p>How could the email builder be quicker, more intuitive, and better looking?</p><br/>
				<p>Skills and tools used: ReactJS, HTML, CSS, Sketch, JSON, Liquid, WebPack</p>
			</section>

			<section id="values" class="feature scrollTo">
				<h2>👨‍💻 Changing Numeric Values</h2>
				<div class="content">
					<div class="card">
						<img src="assets/values1.gif" alt="Changing Values">
						<div class="card__text">
							<img src="assets/warn.svg" alt="pre kurt">
							<div class="card__text--right">
								<h3>Pre Kurt - Changing Values</h3>
								<ul>
									<li>Difficult to adjust with mouse</li>
									<li>Increments slowly</li>
									<li>Unsure of min - max values</li>
									<li>Only applies to one component</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="card">
						<img src="assets/values3.gif" alt="Changing Values">
						<div class="card__text">
							<img src="assets/yes.svg" alt="post kurt">
							<div class="card__text--right">
								<h3>Post Kurt - Easily Changing Multiple Values</h3>
								<ul>
									<li>Easy and quick with mouse or keyboard</li>
									<li>Smooth and indicative visual cues</li>
									<li>Optionally change multiple components at once</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="sidebar" class="feature scrollTo">
				<h2>🏡 Cleaning up the Right Settings Sidebar</h2>
				<div class="content">
					<div class="card">
						<img src="assets/sidebar1.gif" alt="">
						<div class="card__text">
							<img src="assets/warn.svg" alt="pre kurt">
							<div class="card__text--right">
								<h3>Large and Disorienting</h3>
								<ul>
									<li>No navigation, what am I looking at?</li>
									<li>Two thick columns</li>
									<li>Large values</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="card">
						<img src="assets/sidebar2.gif" alt="">
						<div class="card__text">
							<img src="assets/yes.svg" alt="post kurt">
							<div class="card__text--right">
								<h3>Minimal with Navigation</h3>
								<ul>
									<li>Navigation bar - Settings and Components</li>
									<li>Thinner column with a makeover</li>
									<li>Smooth animations with nested components</li>
									<li>Toggleable Global Settings</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="color" class="feature scrollTo">
				<h2>👩‍🎨 Adding some Color</h2>
				<div class="content">
					<div class="card">
						<img src="assets/color1.gif" alt="Changing Color the old way">
						<div class="card__text">
							<img src="assets/warn.svg" alt="pre kurt">
							<div class="card__text--right">
								<h3>Add a Custom Color</h3>
								<ul>
									<li>No way to save color</li>
									<li>Have to change each component</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="card">
						<img src="assets/color2.gif" alt="Changing Color">
						<div class="card__text">
							<img src="assets/yes.svg" alt="post kurt">
							<div class="card__text--right">
								<h3>Reuse Custom Colors</h3>
								<ul>
									<li>Readily available custom swatches</li>
									<li>Could apply to all similar components, if desired</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="components" class="feature scrollTo">
				<h2>💰 Transactional Details</h2>
				<div class="content">
					<div class="card">
						<img src="assets/info1.gif" alt="">
						<div class="card__text">
							<img src="assets/warn.svg" alt="pre kurt">
							<div class="card__text--right">
								<h3>Complicated Order Information</h3>
								<ul>
									<li>Unresponsive across email clients</li>
									<li>Custom code; uneditable</li>
									<li>Messy️</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="card">
						<img src="assets/info2.gif" alt="">
						<div class="card__text">
							<img src="assets/yes.svg" alt="post kurt">
							<div class="card__text--right">
								<h3>Simple and Editable Order Information</h3>
								<ul>
									<li>Consistently renders</li>
									<li>Liquid Variables hidden to user</li>
									<li>Stylish, simple, consistent structure</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="components" class="feature scrollTo">
				<h2>📬 Email Templates</h2>
				<div class="content">
					<div class="card">
						<img src="assets/general1.gif" alt="">
						<div class="card__text">
							<img src="assets/warn.svg" alt="pre kurt">
							<div class="card__text--right">
								<h3>Gets the Job Done</h3>
								<ul>
									<li>Outdated</li>
									<li>Custom Designs</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="card">
						<img src="assets/general2.gif" alt="">
						<div class="card__text">
							<img src="assets/yes.svg" alt="post kurt">
							<div class="card__text--right">
								<h3>Modern and Informative</h3>
								<ul>
									<li>Sleek and new</li>
									<li>Based on Shopify Store themes &amp; custom designs</li>
									<li>Works more consistently across email clients</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="components" class="feature scrollTo">
				<h2>😍 Example Template Designs</h2>
				<div class="content">
					<div class="card">
						<img src="assets/templates.png" alt="">
					</div>
				</div>
			</section>
		</main>
	</section>
	<footer>
		<a href="kurtwilliam.com">kurtwilliam.com</a>
	</footer>
</body>
<script>
	const navs = document.querySelectorAll('.navNum');
	const scrollTos = document.querySelectorAll('.scrollTo');

	function scroll(e) {
		for (let i = 0; i < navs.length; i++) {
			navs[i].classList.remove('activeSection');
		}
		const i = parseInt(e.currentTarget.innerHTML);
		const el = document.querySelectorAll('.scrollTo')[i - 1];
		el.scrollIntoView({ behavior: 'smooth' });
	}

	window.onscroll = function() {isScrollTo()};

	// On click of the nav take you to the relevant section
	for (let i = 0; i < navs.length; i++) {
		navs[i].addEventListener("click", scroll);
	}

	// If the top and bottom of the element is within the screen, remove the activeSection class
	function isScrollTo(e){
		for (let i = navs.length - 1; i >= 0; i--) {
			navs[i].classList.remove('activeSection');

			if (scrollTos[i].getBoundingClientRect().top <= 0 && scrollTos[i].getBoundingClientRect().bottom > 0) {
				navs[i].classList.add('activeSection');
			} 
		}	
	}

</script>
</html>

<!-- <h1>Spently</h1>
	<hr>
	<div class="pieceContainer">
		<div class="piece">
			<p>Spently has an email builder Shopify store owners would use to build their 15 store emails. This is an interaction a user would have with the builder in early 2017 whilst trying to build their email. The email is built on the left in the "stage", whilst the settings are adjusted in the "sidebar" on the right.</p>
			<img src="v1.gif" alt="V1 Builder">
		</div>
		<div class="piece">
			<p>The sidebar is cluttered and unstructured, and it takes a lot of time to change values. The sidebar is also very wide, which takes up precious horizontal room. <br />The front end teams task was then to simplify the sidebar and improve the process of changing values.</p>
			<img src="v2.gif" alt="V2 Builder">
		</div>
		<div class="piece">
			<p>The purpose of the next revision was to enable the user to make 15 Shopify emails without changing much in the stock emails themselves. The overall time to produce the emails was reduced by about 80%, additionally reducing user churn. To do this we designed/built 6 new email templates and added Global Settings 🌎. All email designs are modern with a revamped email structure, built to render across all email clients. The global settings are built to effortlessly change all instances of the component throughout the email (as well as carry it from one email to the next).</p>
			<img src="v3.gif" alt="V3 Builder">
		</div>
		<div class="info">
			<p>The email builder was built with React and Redux (and of course HTML, CSS (SASS) Sketch, and vanilla JS). Working on this application taught me:</p>
			<ul>
				<li>Best practices for passing data within a React application</li>
				<li>A large React applications architecture and file structure</li>
				<li>Accessing, cloning (not mutating!), and interacting with application state using Redux</li>
				<li>Thinking through user design and interaction for the best user experience</li>
				<li>Designing large applications in Sketch</li>
				<li>HTML email structure 🙀</li>
			</ul>
			<p>Please feel free to reach out to me at k.w.schneid@gmail.com 📬 for further inquiry.</p>
		</div>
	</div> 
	// add a timeline on side - what am I trying to highlight? In this it's just showing the addition of dials...
		// i.e. Users want to change the value 
		// then users want to change the value easily
		// then users want to change multiple values easily
	//changing value gifs
		// 1. pressing up on font size
		// 2. using font size radial
		// 3. using body font global setting

	// maybe sidebar animations, or animations within the builder itself for the second one?

	// maybe colors, because it's such an important part?
		// Customizing is great, (v1)
		// Customizing is great, <b>but ease of access is better</b> (first GS)
		// Customizing is great and ease of access is great (color swatch? maybe just two gifs)
	// colorGIFS
		// customizing color (v1)
		// choosing theme colors (global)

	// maybe component structure (transactions, the customer info component before and after)
		// detailed 👌
		// simple and consistent 💍👰
	// email themes in drake meme? With old ones and new ones?


	// extra thick sidebar with two columns?
	// diet sidebar with one column please!!

	// Can I kind of mock up this project to be the opposite of my main portfolio? bright and colorful? whilst keeping a similar layout for my main portfolio?

	-->