/* RESET */

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

html{ margin:0; padding:0; }

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-size:62.5%; }

/* COLORS

// body: 2F2F33;
// white: F5F5F5;
// darkGrey:6E6E79;

 STYLES*/

body { background:rgb(245,245,245); }

.container {
	margin: 0 auto;
	position:relative;
	width:100%;
	max-width:calc(100% - 100px);
	margin-left:100px;
	padding-right:20px;
}

main {
	position:relative;
	margin:0 auto;
	max-width:1000px;
	width:100%;
}

@font-face {
   font-family: 'MaisonNeue-Light';
   src:url('assets/fonts/MaisonNeue-Light.woff2') format('woff2'),
   	url('assets/fonts/MaisonNeue-Light.woff') format('woff'),
   	url('assets/fonts/MaisonNeue-Light.ttf') format('ttf'),
}

* {
	font-family: 'MaisonNeue-Light', 'Helvetica Neue', 'Helvetica', helvetica, sans-serif; 
}

h1,h2,h3,h4,p,li,a {
	color:#2F2F33;
	font-weight: 300;
	margin:0; 
	padding:0;
}

h1 {
	font-size:4rem;
	padding-bottom: 1.2rem;
	font-weight:bold;
}

h2 {
	font-size:3.2rem;
	padding: 0 0 20px;
	font-weight: bold;
}

h3 {
	font-size:2.4rem;
}

p {
	font-size: 1.8rem;
	margin: 0;
	padding: 0;
	padding-bottom:20px;
}

img {
	max-width:100%;
}

/* ELEMENTS */

header {
	position:fixed;
	left:0;
	top:0;
	bottom:0;
	width:100px;
	height:100vh;
	display:flex;
	justify-content: center;
	flex-direction: column;
	z-index:100;
}

header ul {
	display:flex;
	justify-content: space-around;
	flex-direction: column;
	height:100%;
	margin:0 auto;
	padding:0;
	align-items: center;
	max-height:300px;
}

.navNum {
	list-style: none;
	color: #2F2F33;
	font-size:1.4rem;
	cursor:pointer;
	transition: all 200ms;
	background-color:rgba(0,0,0,0);
	border-radius: 50%;
	height:23px;
	width:23px;
	text-align: center;
	line-height:1.4rem;
	padding-top: 5px;
	font-weight:bold;
}

.navNum:hover, header ul li.activeSection {
	background-color: #2F2F33;
	color:#f5f5f5;
}

#intro {
	padding: 5rem 0 10rem;
}

#intro p {
	padding-bottom:0;
	line-height: 2.2rem;
}

#intro a {
	font-size:1.8rem;
}

.feature {
	min-height:100vh;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	padding:60px 0 100px;
}

.content {
	background: #F5F5F5;
	width:100%;
	display:flex;
	justify-content: center;
}

.card {
	display:block;
	max-width: 500px;
}

.card:first-of-type{ margin-top: 0; margin-right:16px; }

.card__text {
	padding:0;
	display:flex;
	align-items: flex-start;
}

.card__text img {
	padding:2rem 1.2rem 0 0;
}

.card__text h3 {
	padding:2rem 0 1.2rem;
}

.card__text p {
	color:#6e6e79;
	padding: 0;
}

.card__text ul {
	margin:0;
	margin-left:17px;
	padding:0;
}

.card__text ul li {
	list-style: figcaption;
	font-size:1.6rem;
	padding-bottom:5px;
}

.card__text ul li:last-of-type {
	padding-bottom:0;
}

footer {
	text-align: center;
	margin:0 0 50px 100px;
}

footer a {
	font-size: 2rem;
}

@media (max-width: 850px) {
	.content {
		flex-direction: column;
		align-items: center;
		padding-bottom:50px;
	}
	.card:first-of-type {
		margin-right: 0;
	}
	.card {
		margin-bottom:2rem;
	}
	h2 {
		margin:0 auto;
	}
}

@media (max-width: 600px) {
	header {
		right: 0;
    	bottom: inherit;
    	width:100%;
    	height:60px;
    	background: rgba(245,245,245,0.8)
	}
	header ul{
		flex-direction: row;
		width:100%;
		max-width:300px;
	}
	.navNum {
		margin-right:10px;
	}
	.container {
		margin-top: 60px;
		padding:0 20px;
		max-width:inherit;
		width:100%;
		overflow-x:hidden;
		margin-left:0;
	}
	.card:first-of-type { margin: 0 0 60px 0; }
	main {
		position: relative;
		width: 100%;
		max-width:inherit;
		margin:0 auto;
		padding:0;
		display:inline-block;
	}
	footer {
		margin: 0 0 50px 0;
	}
}

/* COLORS

// body: 2F2F33;
// white: F5F5F5;
// darkGrey:6E6E79; 